


#wrapper {
    display: block;
    margin-left: auto;
    width: 40%;
}

body {
    background-color: #331d71;
}

#jsonOutput {
    color: gold;
}

#imageDiv {
    color: gold;
    position: relative;
}

#rectangle {
    position: absolute;
    border: 7px solid #331d71;
}
h1 {
color: #331d71;
    text-align: center;
    font-size: 150%;
    font-family: 'Exo', sans-serif;

}
inputImage {
padding: inherit;

}
button {
border-radius: 12px;
    width: 250px;
    padding: 15px 32px;
    font-size: 150%;
    background-color: green;
    font-family: 'Exo', sans-serif;
}
strong{
color: gold;
    text-align: center;
    font-family: 'Exo', sans-serif;
}

input{
    padding-right: 15%;
    position: center; 
}

#must{
    color: gold;
    text-align: center;
    font-size: 150%;
    font-family: 'Exo', sans-serif;
    
}
p{
color: gold;
    
    font-size: 100%;
    font-family: 'Exo', sans-serif;
}